@import "../theme/light/assets/main.scss";
::-webkit-scrollbar-track,
::-webkit-scrollbar {
    background-color: #ebeff6;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #4977e8;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}
.dark-theme {
    @import "../theme/dark/assets/main.scss";

    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar {
        background-color: #191e3a;
    }
}