@import "../../../theme/light/assets/widgets/_modules-widgets/_modules-widget-chart-three.scss";
.dark-theme {
    @import "../../../theme/dark/assets/widgets/_modules-widgets/_modules-widget-chart-three.scss";
}