/*
	===============================
			@Import	Function
	===============================
*/
/*
	===============================
			@Import	Mixins
	===============================
*/
.jumbotron p {
  text-align: left;
}

.display-4 {
  word-wrap: break-word;
  font-size: 45px;
}

.dark-theme {
  /*
  	===============================
  			@Import	Function
  	===============================
  */
  /*
  	===============================
  			@Import	Mixins
  	===============================
  */
}
.dark-theme .jumbotron p {
  text-align: left;
}
.dark-theme .display-4 {
  word-wrap: break-word;
  font-size: 45px;
}
